.logo {
    display: flex;
}

.imgmanada {
    height: 70px;
}

.container {

    .card {

        img {
            margin: 0px;
        }
    }
}

.imagenfondo {
    position: relative;
    display: inline-block;
    overflow: hidden;
}