.Buscador {
    padding: 5px;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    display: block;
    margin: auto;
}

button {
    background-color: rgb(59, 55, 55);
}

.checkbox{
    font-size: small;
    margin-bottom: 10px;
}